/* i can haz fonts. */
@font-face {
    font-family: 'Liberation Sans';
    src: url('fonts/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('fonts/LiberationSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('fonts/LiberationSans-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('fonts/LiberationSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/* main app styles */

body {
    background-color: #666666 !important;
    height: 100%;
}

.root {
    background-color: #767676;
    /* should display Liberation Sans, or arial if the user is on windows and disabled web fonts */
    font-family: "Liberation Sans", "Arial", sans-serif;
    width: 1000px;
}

.title-div {
    background-color: #bebebe;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
}

.title-heading {
    margin: 0px;
    padding: 0px;
}

.content-grid {
    display: grid;
    grid-template-columns: 250px 750px;
    grid-template-rows: 100%;
    height: 100%;
    padding: 0px;
}

.nav-div {
    float: left;
    width: 250px;
    height: 100%;
}

.nav-heading {
    padding: 0px 0px 0px 15px;
    margin: 8px 0px 15px 0px;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-el {
    color: #dcdcdc;
    font-weight: bold;
    padding: 1px 0px 1px 15px;
    font-size: 20px;
}

.content-div {
    width: 750px;
    height: 100%;
}

.content-heading {
    margin: 8px 0px 8px 0px;
    font-size: 28px;
}

.footer {
    background-color: #565656;
    color: #767676;
    font-size: 18px;
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
}

.footer-text {
    margin: 0px;
    padding: 0px;
}