html {
    --fonts: 'Open Sauce Sans', 'Inter', 'Ubuntu', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    /* clip text to gradient */
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    background-clip: text !important;
    /* set text color to transparent */
    color: transparent;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fonts);
    background: linear-gradient(60deg, #FF0000 0%, #FF7F00 10%, #FFFF00 20%, #00FF00 30%, #0000FF 40%, #4B0082 50%, #9400D3 60%, #FF0000 70%, #FF7F00 80%, #FFFF00 90%, #00FF00 100%);
    background-size: 1800% 1800%;
    animation: gradient 15s ease infinite;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: var(--fonts);
}

/* Apply a smooth underline transition to all links */
a {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button {
    border: 2px solid #000;
    border-radius: 50vh;
    padding: 0.15rem 0.7rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    background-color: transparent;
    font-family: var(--fonts);
    color: #000;
    overflow: hidden;
}

.button:hover {
    --hover-displace: 2px;
    --hover-opacity: 1;
    --arrow-color: #ffffff;
}

.button:active {
    transform: translateY(2px);
}

/*
 When the button is hovered, slide in a black background on the button from left to right, changing the text color to white. Make sure the button is the only element whose background is changed (we don't want the whole screen to change color).
 */
.button:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    /* Calculate opacity based on doFill prop */
    opacity: 1;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
    z-index: -1;
    filter: invert(1);
}

.button:hover:after {
    width: calc(100% + 4px);
    left: calc(100% + 2px);
    opacity: 1;
}

.button:hover {
    color: #fff;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.hover-arrow-tip-path {
  stroke-width: 2;
  fill: none;
  margin-left: 0.5rem;
  transform: translateX(var(--hover-displace, 0));
  transition: all 0.2s cubic-bezier(0.7, 0, 0, 0.7);
}

.hover-arrow-line-path {
  stroke-width: 2;
  fill: none;
  transition: all 0.2s cubic-bezier(0.7, 0, 0, 0.7);
  opacity: var(--hover-opacity, 0);
  stroke: #fff;
  mix-blend-mode: difference;
}

.hover-arrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-0.5px) translateX(2px);
  transition: transform 0.2s ease-out;
  stroke: #fff;
  mix-blend-mode: difference;
}

.button-inner {
}

.button-text {
  display: inline-block;
  margin-right: 0.25rem;
  color: #000;
  mix-blend-mode: difference;
  filter: invert(1);
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    transition: all 0.2s ease-out;
    z-index: -2;
    border-radius: 50vh;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.input {
    border: var(--input-border, 2px solid #000);
    border-radius: 50vh;
    padding: 0.15rem 0.7rem;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    background-color: transparent !important;
    margin-bottom: 1rem;
    font-family: var(--fonts);
}

.input:focus {
    --input-border: 2px solid #225a9e;
    transform: scale(1.05);
    color: #225a9e;
    outline: none;
}

.error {
    color: #ff0000;
    margin-top: 0.5rem;
    font-family: var(--fonts);
}

.roster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    font-family: var(--fonts);
}

.person {
    font-family: var(--fonts);
    margin-bottom: 0.5rem;
    list-style: none;
    font-family: var(--fonts);
}

.response {
    font-family: var(--fonts);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.center {
    margin: 0 auto;
}
